/* ==========================================================================
   Settings
   ========================================================================== */

// Font family
$font-family-body: 'Open Sans', sans-serif;

$bold-font: 700;


// The base font-size, all other elements will adjust to this value
$font-size-base: 1rem;
$font-size-8: .8rem;


// COLORS
$body-text-color: #2c3e50;
$brand-grey: #ebebeb;

$black: #000;
$white: #fff;
$red: #ff0000;

// Line height
$line-height-base: 1.4;

// Adjust the website's maximum width.
$max-width-outer: 1320px;
$max-width-inner: 1140px;
$min-width-outer: 640px;
$min-width-inner: 600px;


// Spacing on margins and paddings

$percentages-1: 1.515151515%;
$percentages-10: 10%;
$percentages-20: 20%;
$percentages-30: 30%;
$percentages-40: 40%;
$percentages-50: 50%;
$percentages-100: 100%;


$index-50: 50;
$index-100: 100;
$index-200: 200;

$size-5: 5px;
$size-10: 10px;
$size-20: 20px;
$size-30: 30px;
$size-40: 40px;
$size-50: 50px;
$size-100: 100px;
